/* Home.module.css */
.homeContainer {
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 50px;
  }
  
  .quoteOfTheDayTitle {
    display: inline-block;
    text-align: center;
    max-width: 70%;
    line-height: 1.6;
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .homeParagraph {
      max-width: 100%;
    }
    .quoteOfTheDayTitle {
      font-size: 1.2rem;
      max-width: 100%;
    }
  }
  