.centeredContainer {
  text-align: center;
  font-family: "Optima",Helvetica,sans-serif;

}

.styledParagraph {
  display: inline-block;
  text-align: center;
  max-width: 70%;
  line-height: 1.7;
  font-size: 1.1rem;
}
@media (min-width: 769px) {
  .centeredContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
  }
}
@media (max-width: 768px) {
  .styledParagraph {
    max-width: 100vw;
    font-size: 1.2rem;
  }
}

.signatureImage {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

@media (max-width: 768px) {
  .signatureImage {
    max-width: 250px;
  }
}

.signatureImageAnimate {
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}