.centeredContainer {
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 10px;;
  }
  
  .styledParagraph {
    display: inline-block;
    text-align: center;
    max-width: 70%;
    line-height: 1.6;
    font-size: 1.1rem;
  }
  
  @media (max-width: 768px) {
    .styledParagraph {
      max-width: 100vw;
      font-size: 1.05rem;
    }
  }