@font-face {
  font-family: 'Palace Script MT';
  src: url('../../assets/PALSCRI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  text-align: center;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: -30px;
  position: relative;
}

.logoImage {
  width: 150px;
  height: 150px;
  padding-right: 8px;
  padding-bottom: 70px;
}

.menu {
  display: inline-block;
  gap: 20px;
  font-size: 1.1rem;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #985402;
  margin: 0 50px;
  padding: 10px 20px;
  font-family: "Optima", Helvetica, sans-serif;
  position: relative;
}

/* New underline animation styles */
.menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #a75d04;
  transition: width 0.6s ease; /* Increased duration for slower animation */
}

.menu a:hover::after {
  width: 100%;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .logo {
    font-size: 3.5rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 116%;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .menu.open::before {
    opacity: 1;
    transform: translateY(0);
  }

  .menu a {
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: relative;
    width: 100%;
    text-align: left;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .menu a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  .menu.open a {
    opacity: 1;
    transform: translateX(0);
  }

  .burger {
    display: block;
    padding-top: 10px;
  }

  .burger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.open .line:nth-child(2) {
    opacity: 0;
  }

  .burger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}